package components

templ HomepageFooter() {
<div class="w-screen py-8 px-16 bg-slate-200 flex flex-row gap-3">
  <ul>
    <li><a>Privacy Policy</a></li>
    <li><a>Terms of Service</a></li>
  </ul>
</div>
}
